@import "https://fonts.googleapis.com/css?family=Roboto:300,400,700";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrapper {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: #FFFFFF; }

.button {
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 25px 15px 25px; }
  .button_white {
    color: #FFFFFF;
    border: 2px solid #FFFFFF; }
  .button_green {
    color: #2ecc71;
    border: 2px solid #2ecc71; }

.link {
  text-decoration: none;
  color: #FFFFFF;
  transition: all .2s; }
  .link:hover {
    color: #2ecc71; }

.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  text-align: center;
  background-color: #252e30; }
  .nav__item {
    text-transform: uppercase;
    font-size: 16px;
    padding: 20px;
    flex: 1; }

.header {
  height: 100vh;
  background-image: url("img/imgHeader.jpg");
  background-repeat: no-repeat; }
  .header__title {
    color: #FFFFFF;
    font-size: 60px;
    padding: 20px;
    font-weight: bold;
    border: 2px solid #FFFFFF;
    border-left: 0;
    border-right: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 150px; }

.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  text-align: center;
  background-color: #252e30; }
  .nav__item {
    text-transform: uppercase;
    font-size: 16px;
    padding: 20px;
    flex: 1; }

.values {
  width: 20%; }
  .values__title {
    color: #566366;
    text-transform: uppercase;
    font-size: 30px;
    padding: 100px 0 30px 0;
    font-weight: bold; }
  .values__text {
    color: #919191;
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.6;
    padding-bottom: 100px; }
  .values-wrap {
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF; }

.about {
  background-color: #f2f2f1; }
  .about__title {
    font-size: 30px;
    padding: 30px;
    text-transform: uppercase;
    color: #566366; }
  .about__text {
    width: 70%;
    font-size: 18px;
    padding: 0 0 20px 30px;
    font-weight: lighter;
    line-height: 1.6; }
  .about-wrap {
    display: inline-block;
    width: 50%; }

.strengths {
  display: flex; }
  .strengths__title {
    font-size: 22px;
    text-transform: uppercase;
    color: #566366; }
  .strengths__text {
    font-size: 18px;
    padding: 15px 0 0 0;
    color: #919191;
    font-weight: lighter; }

/*# sourceMappingURL=styles.css.map */
