.values {
    width: 20%;

    &__title {
        color: $darkGrey;
        text-transform: uppercase;

        font-size: 30px;
        padding: 100px 0 30px 0;
        font-weight: bold;
    }

    &__text {
        color: $greyText;

        font-size: 16px;
        font-weight: lighter;
        line-height: 1.6;
        padding-bottom: 100px;
    }

    &-wrap {
        display: flex;
        justify-content: space-around;
        background-color: $white;
    }
}

.about {
    background-color: $greyBGC;
    &__title {
        font-size: 30px;
        padding: 30px;

        text-transform: uppercase;
        color: $darkGrey;
    }
    &__text {
        width: 70%;

        font-size: 18px;
        padding: 0 0 20px 30px;
        font-weight: lighter;
        line-height: 1.6;
    }
    &-wrap { display: inline-block; width: 50%; }
}

.strength {
    &s {
        display: flex;
        width: 40%;
        margin: 30px;
    }
    &__title {
        display: inline-block;
        font-size: 22px;
        padding-left: 10px;

        text-transform: uppercase;
        color: $darkGrey;
    }
    &__text {
        font-size: 18px;
        padding: 15px 0 30px 0;
        line-height: 1.6;

        color: $greyText;
        font-weight: lighter;
    }
    &__img {
        width: 30px;
        height: 30px;
    }
}