.button {
    cursor: pointer;

    text-transform: uppercase;
    background-color: transparent;

    font-size: 18px;
    font-weight: bold;
    padding: 15px 25px 15px 25px;

    &_white {
        color: $white;
        border: 2px solid $white;
        &:hover {
            color: $green;
            background-color: $dark;
            border: 2px solid $dark;
        }
    }

    &_green {
        color: $green;
        border: 2px solid $green;
        &:hover {
            color: $white;
            background-color: $green;
        }
    }
}

.link {
    text-decoration: none;
    color: $white;

    transition: all .2s;
    &:hover { color: $green; }
}