.header {
    height: 100vh;
    background-image: url('img/imgHeader.jpg');
    background-repeat: no-repeat;
    
    &__title {
        color: $white;
        font-size: 60px;
        padding: 20px;
        font-weight: bold;

        border: 2px solid $white;
        border-left: 0;
        border-right: 0;

        @include toCenter();
    }

    &__button {
        @include toCenter();
        margin-top: 150px;
    }
}