.skills {
    display: flex;
    padding-bottom: 100px;
    background-color: $white;
    &-wrap { width: 30%; }
    &__title {
        font-size: 30px;
        padding: 100px 0 0 100px;

        text-transform: uppercase;
        color: $darkGrey;
    }
    &__text {
        font-size: 18px;
        padding: 15px 0 20px 100px;

        font-weight: lighter;
        color: $greyText;

        &_padding {
            padding-bottom: 50px;
        }
    }
    .button { margin-left: 100px; }
}

.progress {
    margin-top: 100px;
    margin: 100px 0 0 100px;
    &__title {
        font-size: 22px;
        padding-bottom: 12px;
        color: $darkGrey;
        text-transform: uppercase;
    }
    &__bar {
        width: 500%;
        height: 25px;
        margin-bottom: 30px;
        background-color: $greyBGC;
    }
    &__green {
        width: 90%;
        height: 25px;
        background-color: $green;
        &_80 { width: 80%; }
        &_70 { width: 70%; }
    }
}