$ff: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$white: #FFFFFF;
$dark: #212121;
$green: #2ecc71;
$darkGreen: #252e30;
$darkGrey: #566366;
$greyText: #919191;
$greyBGC: #f2f2f1;